<%= include("../partials/header")%>
    <h1>Express To-Do</h1>
    <ul>
        <% todos.forEach( todo => { %>
            <li>
                <a href="/todos/<%= todo.id %>"><%= todo.todo %></a>
            </li>
        <% }); %>
    </ul>
<%= include("../partials/footer")%>